---
- name: Update apt repo-cache on debian/ubuntu hosts
  become: true
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when:
    - ansible_facts['pkg_mgr'] == "apt"

- name: Update dnf repo-cache on RHEL/Fedora hosts
  become: true
  ansible.builtin.dnf:
    update_cache: true
  when:
    - ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_version'] | float >= 8

- name: Create Package installation list
  block:
    - name: Adding Advances Packages to installation list
      ansible.builtin.set_fact:
        packages__advanced: []
      when:
        not packages__install_advanced | bool

    - name: Adding Debian Advances Packages to installation list
      ansible.builtin.set_fact:
        packages__advanced_debian: []
      when:
        not packages__install_advanced | bool and ansible_facts['os_family'] == 'Debian'

    - name: Adding Archlinux Advances Packages to installation list
      ansible.builtin.set_fact:
        packages__advanced_archlinux: []
      when:
        not packages__install_advanced | bool and ansible_facts['os_family'] == 'Archlinux'

    - name: Not adding Debian Advances, CLI and Python Packages to installation list
      ansible.builtin.set_fact:
        packages__advanced_debian: []
        packages__python: []
        packages__cli_debian: []
        packages__desktop_debian: []
      when:
        not ansible_facts['os_family'] == 'Debian'

    - name: Not adding Archlinux Advances Packages to installation list
      ansible.builtin.set_fact:
        packages__advanced_archlinux: []
      when:
        not ansible_facts['os_family'] == 'Archlinux'

    - name: Adding Python Packages to installation list
      ansible.builtin.set_fact:
        packages__python: []
      when:
        not packages__install_python | bool

    - name: Adding CLI Packages to installation list
      ansible.builtin.set_fact:
        packages__cli: []
      when:
        not packages__install_cli | bool

    - name: Adding Debian CLI Packages to installation list
      ansible.builtin.set_fact:
        packages__cli_debian: []
      when:
        not packages__install_cli | bool and ansible_facts['os_family'] == 'Debian'

    - name: Adding Desktop Packages to installation list
      ansible.builtin.set_fact:
        packages__desktop: []
      when:
        not packages__install_desktop | bool

    - name: Adding Debian Desktop Packages to installation list
      ansible.builtin.set_fact:
        packages__desktop_debian: []
      when:
        not packages__install_desktop | bool and ansible_facts['os_family'] == 'Debian'

    - name: Combine Lists
      ansible.builtin.set_fact:
        packages__install: "{{ packages__base + packages__advanced + packages__advanced_archlinux + packages__advanced_debian + packages__python + packages__cli + packages__cli_debian + packages__desktop + packages__desktop_debian + packages__install_extra_packages }}"  # yamllint disable-line rule:line-length

    - name: Show packages__install on verbose run  # noqa: H500
      ansible.builtin.debug:
        msg: "{{ packages__install }}"
        verbosity: 1
  rescue:
    - name: Show packages__install on verbose run  # noqa: H500
      ansible.builtin.debug:
        msg: "{{ packages__install }}"
        verbosity: 1

    - name: Error Info
      ansible.builtin.fail:
        msg: "Error creating list of packages for installation."

- name: Install selected Packages
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: "{{ packages__package_state }}"
  loop: "{{ packages__install | flatten(1) }}"
