# Debian mirror der ETH Zürich
# https://debian.ethz.ch/
# https://wiki.debianforum.de/Sources.list

# HTTPS mirror:
deb https://debian.ethz.ch/debian {{ ansible_distribution_release }} main
  {%- if l3d_pkgs__ethz_contrib | bool -%}
    {{- ' contrib' -}}
  {%- endif -%}
  {%- if l3d_pkgs__ethz_non_free | bool -%}
    {{- ' non-free' -}}
  {%- endif -%}
  {%- if ansible_distribution_major_version >= '12' and l3d_pkgs__ethz_non_free_firmware | bool -%}
    {{- ' non-free-firmware' -}}
  {%- endif -%}
  {{- '\n' -}}
deb-src https://debian.ethz.ch/debian {{ ansible_distribution_release }} main
  {%- if l3d_pkgs__ethz_contrib | bool -%}
    {{- ' contrib' -}}
  {%- endif -%}
  {%- if l3d_pkgs__ethz_non_free | bool -%}
    {{- ' non-free' -}}
  {%- endif -%}
  {%- if ansible_distribution_major_version >= '12' and l3d_pkgs__ethz_non_free_firmware | bool -%}
    {{- ' non-free-firmware' -}}
  {%- endif -%}
  {{- '\n\n' -}}

{%- if l3d_pkgs__ethz_security | bool -%}
# Inofficial Debian Security Mirror
{% if ansible_distribution_major_version >= '11' -%}
deb https://security.debian.ethz.ch/ {{ ansible_distribution_release }}-security main
{% else -%}
deb https://security.debian.ethz.ch/ {{ ansible_distribution_release }}/updates main
{%- endif -%}
  {%- if l3d_pkgs__ethz_contrib | bool -%}
    {{- ' contrib' -}}
  {%- endif -%}
  {%- if l3d_pkgs__ethz_non_free | bool -%}
    {{- ' non-free' -}}
  {%- endif -%}
  {%- if ansible_distribution_major_version >= '12' and l3d_pkgs__ethz_non_free_firmware | bool -%}
    {{- ' non-free-firmware' -}}
  {%- endif -%}
  {{- '\n' -}}
{% if ansible_distribution_major_version >= '11' -%}
deb-src https://security.debian.ethz.ch/ {{ ansible_distribution_release }}-security main
{% else -%}
deb-src https://security.debian.ethz.ch/ {{ ansible_distribution_release }}/updates main
{%- endif -%}
  {%- if l3d_pkgs__ethz_contrib | bool -%}
    {{- ' contrib' -}}
  {%- endif -%}
  {%- if l3d_pkgs__ethz_non_free | bool -%}
    {{- ' non-free' -}}
  {%- endif -%}
  {%- if ansible_distribution_major_version >= '12' and l3d_pkgs__ethz_non_free_firmware | bool -%}
    {{- ' non-free-firmware' -}}
  {%- endif -%}
  {{- '\n\n' -}}
{%- endif -%}

{%- if l3d_pkgs__ethz_updates -%}
# {{ ansible_distribution_release }}-updates, previously known as 'volatile'
deb https://debian.ethz.ch/debian {{ ansible_distribution_release }}-updates main
  {%- if l3d_pkgs__ethz_contrib | bool -%}
    {{- ' contrib' -}}
  {%- endif -%}
  {%- if l3d_pkgs__ethz_non_free | bool -%}
    {{- ' non-free' -}}
  {%- endif -%}
  {%- if ansible_distribution_major_version >= '12' and l3d_pkgs__ethz_non_free_firmware | bool -%}
    {{- ' non-free-firmware' -}}
  {%- endif -%}
  {{- '\n' -}}
deb-src https://debian.ethz.ch/debian {{ ansible_distribution_release }}-updates main
  {%- if l3d_pkgs__ethz_contrib | bool -%}
    {{- ' contrib' -}}
  {%- endif -%}
  {%- if l3d_pkgs__ethz_non_free | bool -%}
    {{- ' non-free' -}}
  {%- endif -%}
  {%- if ansible_distribution_major_version >= '12' and l3d_pkgs__ethz_non_free_firmware | bool -%}
    {{- ' non-free-firmware' -}}
  {%- endif -%}
  {{- '\n\n' -}}
{%- endif -%}

{%- if l3d_pkgs__ethz__backports -%}
# {{ ansible_distribution_release }}-backports
deb https://debian.ethz.ch/debian {{ ansible_distribution_release }}-backports main
  {%- if l3d_pkgs__ethz_contrib | bool -%}
    {{- ' contrib' -}}
  {%- endif -%}
  {%- if l3d_pkgs__ethz_non_free | bool -%}
    {{- ' non-free' -}}
  {%- endif -%}
  {%- if ansible_distribution_major_version >= '12' and l3d_pkgs__ethz_non_free_firmware | bool -%}
    {{- ' non-free-firmware' -}}
  {%- endif -%}
  {{- '\n' -}}
deb-src https://debian.ethz.ch/debian {{ ansible_distribution_release }}-backports main
  {%- if l3d_pkgs__ethz_contrib | bool -%}
    {{- ' contrib' -}}
  {%- endif -%}
  {%- if l3d_pkgs__ethz_non_free | bool -%}
    {{- ' non-free' -}}
  {%- endif -%}
  {%- if ansible_distribution_major_version >= '12' and l3d_pkgs__ethz_non_free_firmware | bool -%}
    {{- ' non-free-firmware' -}}
  {%- endif -%}
  {{- '\n\n' -}}
{%- endif -%}

# Contact for proplems with the mirror:
# https://readme.phys.ethz.ch/services/contact/
# Or #isgphys on irc.phys.ethz.ch
